:root { --efy_font_size: 1px; --efy_bg_size: cover; --efy_bg_x: 0; --efy_bg_y: 0;
--efy_radius0: calc(var(--efy_radius) / 1.25); --efy_radius2: calc(var(--efy_radius) * 1.5); --efy_radius00: calc(var(--efy_radius) / 3);
--efy_padding:  8rem  12rem; --efy_padding2: 3rem  6rem; --efy_gap0:  calc(var(--efy_gap) / 1.5);
--efy_color: linear-gradient(var(--efy_color_angle), hsl(var(--efy_color1_var)), hsl(var(--efy_color2_var)));
--efy_color_trans: linear-gradient(var(--efy_color_angle), hsla(var(--efy_color1_var) / .3), hsla(var(--efy_color2_var) / .3));
--efy_color_text_var: 0 0% 0%; --efy_color_bgcol_var: 0 0% 39%; --efy_color_bordercol_var: var(--efy_bg_var);
--efy_bg1: hsla(var(--efy_bg_var) / .07); --efy_bg2: hsla(var(--efy_bg_var) / .13);
--efy_text: hsl(var(--efy_bg_var)); --efy_text_trans: hsla(var(--efy_bg_var) / .3); --efy_text_trans2: hsla(var(--efy_bg_var) / .45); --efy_text2: var(--efy_bg);
--efy_border_alpha: .07; --efy_border: var(--efy_border_size) solid hsla(var(--efy_bg_var) / var(--efy_border_alpha));
--efy_anim_status: 1; --efy_anim_state: running; --efy_anim_speed: 1;
--efy_ratio_width: calc(36rem + var(--efy_border_size) * 2);
}
/*No White Flash*/ html, body {background: #0f0f0f!important} [efy_mode] body, html.trans_window, html.trans_window .efy_3d_back {background: transparent!important}
/*Scheme*/ input, select, textarea, audio, video {color-scheme: var(--efy_scheme)}
/*Light: All*/ [efy_mode*=light] {--efy_bg: hsl(0 0% 100%); --efy_bg_var: 0 0% 0%; --efy_scheme: light}
/*Dark: All*/ [efy_mode*=dark] {--efy_bg: hsl(0 0% 0%); --efy_bg_var: 0 0% 100%; --efy_scheme: dark}
/*Sepia*/ [efy_mode=light_sepia] {--efy_bg: hsl(43 56% 90%); --efy_text: hsl(26 25% 28%)}
/*Dark*/ [efy_mode=dark_dark] {--efy_bg: hsl(0 0% 14%); --efy_text: hsl(0 0% 86%)}
/*Nord*/ [efy_mode=dark_nord] {--efy_bg: hsl(220 17% 17%); --efy_text: hsl(220 20% 70%)}
/*Black*/ [efy_mode=dark_black] {--efy_text: hsl(0 0% 80%)}
/*Dark Transparent*/ [efy_mode=dark_trans] {--efy_text2: hsl(0 0% 0%)}

/*Custom Text, Border & BG*/ [efy_color_bgcol][efy_mode] {--efy_bg: hsl(var(--efy_color_bgcol_var))}
[efy_color_text][efy_mode] {--efy_text: hsl(var(--efy_color_text_var)); --efy_text_trans: hsla(var(--efy_color_text_var) / .3); --efy_text_trans2: hsla(var(--efy_color_text_var) / .45)}
[efy_color_bordercol][efy_mode] {--efy_border_alpha: 1; --efy_border: var(--efy_border_size) solid hsla(var(--efy_color_bordercol_var) / var(--efy_border_alpha))}


/*Display: Block*/ table, .efy_toggle_visible {display: block}
/*Display: Inline-Block*/ header > nav li, header > nav a, header > nav a:visited, [efy_tabs] [efy_tab], [efy_select] label, [efy_select] label:before, [efy_select] input:checked + label:after {display: inline-block}
/*Display: None*/ [efy_select] [for*=efy_color]:before, [efy_select] [for*=efy_color]:after, .efy_hide {display: none}
/*Display: None ! */ .efy_hide_i {opacity: 0!important; position: absolute!important; pointer-events: none; transform: scale(.3)!important; transition: none!important} .efy_hide_i * {display: none!important}

/*Content: ''*/ [type=radio]:checked:after, [type=checkbox]:checked:after, [efy_select] label:before, [efy_select] [type=radio]:checked + label:after, [efy_select] [type=checkbox]:checked + label:after {content: ''}
/*Content: None*/ [efy_select] [for*=efy_color]:before, [efy_select] [for*=efy_color]:after {content: none}

/*BG: Transparent*/ [efy_mode*=trans] .efy_sidebar {background: transparent!important; backdrop-filter: blur(50rem); -webkit-backdrop-filter: blur(50rem)}
/*BG*/ html:not([efy_mode*=trans]) .efy_3d_back, .efy_bg {background: var(--efy_bg)!important}
/*BG1*/ aside, th, [type=file], pre, textarea, select, input, details, blockquote, pre, article, tr:nth-child(even), [efy_alert], [efy_timer], [efy_clock], .efy_bg1 {background: var(--efy_bg1)}
/*BG: text*/ mark, kbd, .efy_bg_text {background: var(--efy_text)}
/*BG: Color*/ button, [type=button], [role=button], [type=submit], [type=reset], blockquote:before, [efy_sidebar_btn=absolute]:hover, [type=checkbox]:checked, [type=radio]:checked, option:checked, [efy_select] input:checked + label, [efy_tabs] [efy_tab][efy_active], .efy_img_previews [efy_bg_nr][efy_active]:before, .efy_color {background: var(--efy_color); background-clip: padding-box; -webkit-background-clip: padding-box; -webkit-text-fill-color: var(--efy_text2)}
/*BG: Color Trans*/ [type=range], [type=radio], [type=checkbox], [efy_sidebar_btn=absolute], [efy_select] label:not([efy_upload]), [efy_tabs] [efy_tab]:not([efy_active]), .efy_color_trans {background: var(--efy_color), var(--efy_color_trans); -webkit-background-clip: text, padding-box; -moz-background-clip: text, padding-box; -webkit-text-fill-color: transparent}


/*Text*/ body, textarea, select, input, pre, pre code, header > nav a, header > nav a:visited, [efy_sidebar_btn]:hover, .efy_text {color: var(--efy_text)}
/*Text*/ button, [type=button], [role=button], [type=submit], [type=reset], mark, kbd, option:checked, [efy_select] input:checked + label, .efy_text2 {color: var(--efy_text2)}
/*Text Trans2*/ figcaption, cite, footer, .efy_text_trans2 {color: var(--efy_text_trans2)} ::-webkit-input-placeholder {color: var(--efy_text_trans2)}
/*Text Color*/ :is(a, a:visited):not([role=button]), pre > code, code, samp, [efy_logo] p:nth-of-type(1), .efy_text_color {background: var(--efy_color); background-clip: text; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent}
/*Text-Decoration: None*/ a, a:visited {text-decoration: none}

/*Border*/ textarea, select, input:not([type=color], [type=range]), button, [type=submit], [type=reset], [type=button], [role=button], details, pre, td, th, article, aside, blockquote, [type=file], .efy_sidebar, [efy_tabs] [efy_content], [efy_alert], [efy_timer], [efy_clock], .efy_border {border:  var(--efy_border)}
/*Border: None*/ hr {border: none} [type=color], fieldset, [type=file] {border: none!important}

/*Outline: None*/ * {outline: none!important}
/*Outline: Box-Shadow*/ :is(textarea, select, [type=file]):focus, input:not([type=checkbox], [type=radio], [role=button], [type=submit], [type=reset], [type=button], [type=color], [type=range]):focus, [efy_outline] :is(details:focus-within:not([efy_help])), [efy_card]:focus-within {box-shadow: 0 0 0 calc(var(--efy_border_size) + 2rem) var(--efy_text)!important}

/*Outline Offset*/ [efy_outline] :is([type=radio], [type=checkbox], button, [role=button], [type=submit], [type=reset], [type=button], [type=range], [type=color], a, [efy_tabs] [efy_tab]):focus:not([tabindex='-1'], .efy_img_previews [efy_bg_nr]), [efy_outline] [efy_select] input:focus + label, [efy_outline] :is([efy_select] [for*=efy_color], [efy_upload], [efy_help]):focus-within {outline: calc(var(--efy_border_size) + 2rem) solid var(--efy_text)!important; outline-offset: 4rem!important}

/*Box-Shadow*/ [efy_shadow] :is(details, input, a, [efy_clock], [efy_timer], [efy_about] .efy_flex button, .efy_shadow) {box-shadow: 5rem 5rem 5rem hsl(67deg 85% 20% / 30%), -5rem -5rem 5rem hsl(67deg 100% 90% / 50%)}
[efy_shadow] :is(button, .efy_shadow_color):not([efy_about] .efy_flex button) {box-shadow: 5rem 5rem 5rem hsla(var(--efy_color1_var) / 0.3), -5rem -5rem 5rem hsl(67deg 100% 75% / 50%)}
/*Temporary*/ [efy_shadow] {--efy_border_alpha: 0.2!important} [efy_shadow] ::-webkit-slider-thumb {box-shadow: 5rem 5rem 5rem hsla(var(--efy_color1_var) / 0.3), -5rem -5rem 5rem hsl(67deg 100% 75% / 50%)!important}

/*Radius*/ textarea, select, input, img, video, pre, details, summary, blockquote, article, aside, [type=range], button, [role=button], [type=submit], [type=reset], [type=button], img, video, audio, table, [efy_sidebar_btn=absolute], [efy_select] label, [efy_tabs] [efy_tab], .efy_radius {border-radius: var(--efy_radius)}
/*Radius2*/ [efy_timer], [efy_clock], [efy_alert], .efy_radius2 {border-radius: var(--efy_radius2)}
/*Radius0*/ mark, kbd, [type=checkbox], [type=radio], [efy_outline] a:focus, .efy_radius0 {border-radius: var(--efy_radius0)}
/*Radius00*/ [type=radio]:checked:after, .efy_radius00 {border-radius: var(--efy_radius00)}


/*Position: relative*/ [type=checkbox], [type=radio], [efy_select] label {position: relative}
/*Position: absolute*/ :is([type=checkbox], [type=radio]):checked:after, [efy_select] :is([type=checkbox], [type=radio], label [type=color]), [efy_select] :is([type=checkbox], [type=radio]):checked + label:after {position: absolute}


/*Cursor: Pointer*/ :is(button, [role=button], [type=submit], [type=reset], [type=button]):focus, :is(button, [type=reset], [type=button], [type=submit]):enabled:hover, [role=button]:not([aria-disabled=true]):hover, summary, [type=range], [type=file], [efy_sidebar_btn], [efy_select] label {cursor: pointer}
/*Cursor: Help*/ abbr {cursor: help}
/*Cursor: Normal*/ [tabindex='-1'] {cursor: default!important}
/*Cursor: None*/ [efy_cursor_none] *, [efy_cursor_custom], [efy_cursor_custom] * {cursor: none!important}
/*Cursor: Custom*/ [efy_cursor_custom] [efy_cursor] { height: 16rem; width: 16rem; margin-left: -8rem; margin-top: -8rem; position: absolute; background: var(--efy_color); background-clip: padding-box; border-radius: var(--efy_radius0); pointer-events: none; box-shadow: 0 0 5rem #0003; z-index: 999999!important}
/*Pointer Events: None*/ [efy_icon], [efy_alert] *, a > button, .efy_about p {pointer-events: none}


/*Disabled*/ :is(input, textarea, select):disabled, [role=button][aria-disabled=true], :is([type=submit], [type=reset], [type=button], [type=checkbox], [type=radio], button, select)[disabled] {filter: saturate(0) brightness(.7); opacity: 1!important; cursor: not-allowed}

/*Line-Height: 30rem*/ mark, kbd {line-height: 30rem}

/*Padding1*/ button, [role=button], [type=submit], [type=reset], [type=button], summary, blockquote, pre, [efy_select] label, [efy_tabs] [efy_tab], .efy_padding {padding: var(--efy_padding)}
/*Padding2*/ kbd, .efy_padding2 {padding: var(--efy_padding2)}
/*Gap*/ .efy_gap {gap: var(--efy_gap)}
/*Gap 0*/ .efy_gap0 {gap: var(--efy_gap0)}


/*Vertical align: Middle*/ [efy_select] label:before, [efy_select] input:checked + label:after {vertical-align: middle}


/*Text: Font*/ html, body, mark, code, pre, pre span, kbd, samp, button, a {font-family: var(--efy_font_family)}
/*Text: Bold*/ button, a, code, kbd, samp, mark, summary, th, table caption, [type=button], [type=submit], [type=reset], [efy_sidebar_btn], code,  [efy_select] label,  [efy_tabs] [efy_tab] {font-weight: bold}


/*No Selection*/ [efy_select] label {user-drag: none; -webkit-user-drag: none; user-select: none; -webkit-user-select: none}
/*Selection Color*/ ::selection {background: var(--efy_text); color: var(--efy_text2); -webkit-text-fill-color: var(--efy_text2)} ::-moz-selection {background: var(--efy_text); color: var(--efy_text2); -webkit-text-fill-color: var(--efy_text2)}


/*Scrollbar*/ ::-webkit-scrollbar {width:20rem; min-height:20rem; background: transparent!important} ::-webkit-scrollbar-thumb{background: transparent!important; border-radius: var(--efy_radius0); border: 6rem solid transparent; box-shadow: inset 0 0 0 6rem var(--efy_bg2), inset 0 0 0  1.5rem var(--efy_bg1); min-height:20rem} ::-webkit-scrollbar-thumb:hover{box-shadow: inset 0 0 0 6rem var(--efy_text)} ::-webkit-scrollbar-corner {background: transparent!important}


/*Animation: None*/ [efy_tabs] [efy_tab]:active {-webkit-animation: none; animation: none}
/*Animation: Hide*/  [efy_alert].efy_anim_remove {animation: remove calc(var(--efy_anim_status) * var(--efy_anim_speed) * .05s) ease-in-out backwards; animation-play-state: var(--efy_anim_state)}
/*Transform: Pulse*/ :is(button, [efy_tab], [efy_bg_nr], .efy_anim_pulse):not([disabled]):active {transform: scale(.9); transition: calc(var(--efy_anim_status) * var(--efy_anim_speed) * .1s)}
/*Transform: Pulse2*/ :is(details, input, textarea, select, a, label, [efy_timer], [efy_clock], [efy_card], [efy_alert], .efy_anim_pulse2):not([disabled]):active {transform: scale(.98); transition: calc(var(--efy_anim_status) * var(--efy_anim_speed) * .1s)}

/*Animations*/ @keyframes remove {0% {transform: scale(.98)} 30% {transform: scale(1)} 100% {transform: scale(.8); box-shadow: none}}

/*Convergent body*/ * {margin: 0; padding: 0; box-sizing: border-box}
html, body {margin: 0 auto}
html {font-size: var(--efy_font_size)!important; font-size: var(--efy_font_size)!important}
html .efy_3d_back {position: fixed; inset: 0; z-index: -1; object-fit: cover; width: 100vw; height: 100vh; border-radius: 0!important; background-position: var(--efy_bg_x) var(--efy_bg_y)!important;}
body {width: 100vw; padding: var(--efy_body_padding); line-height: 1.5; min-height: 100vh; max-width: var(--efy_body_width); overflow: overlay; transition: background calc(var(--efy_anim_status) * var(--efy_anim_speed) * .3s), color calc(var(--efy_anim_status) * var(--efy_anim_speed) * .3s); scroll-behavior: smooth; -webkit-tap-highlight-color: transparent} body * {font-size: 16rem}

/*Make the header bg full width, but the content inline with body*/
header {text-align: center; padding: 0  8rem; grid-column: 1 / -1}

header :is(p, h1) {margin:  15rem auto}

footer {margin-top: 40rem; padding: 30rem  15rem  25rem  15rem; text-align: center; border-top:  var(--efy_border)}

/*Headings*/h1 {font-size:  45rem} h2 {font-size: 40rem} h3 {font-size: 35rem} h4 {font-size: 30rem} h5 {font-size: 25rem} h6 {font-size: 20rem}


/*Links & buttons*/
a, a:visited {font-size: inherit}
a[role=button] {display: flex; width: fit-content; float: left}

button, [role=button], [type=submit], [type=reset], [type=button] {font-size:  16rem; -webkit-text-fill-color: var(--efy_text2); margin: var(--efy_gap0) 0}

/*Navigation*/
header > nav {padding:  15rem 0 0 0}
header > nav :is(ul, ol) {align-content: space-around; align-items: center; display: flex; flex-direction: row; justify-content: center; list-style-type: none; margin: 0; padding: 0}
header > nav :is(a, a:visited) {margin-right:  15rem; text-decoration: none}
header > nav a:last-child {margin-right: 0}


ul, ol, li {padding: 0  1.5rem; margin: 0  8rem}

aside {width: 30%; padding: 0 15rem; margin-left:  var(--efy_gap); float: right}
article {padding: 15rem}
section {border-top:  var(--efy_border); border-bottom:  var(--efy_border); padding: 30rem  15rem; margin:  calc(var(--efy_gap) * 3) 0}

 [efy_content=menu] {padding: 0 var(--efy_gap)!important}
details {margin-bottom:  var(--efy_gap)} :is(details, [efy_content=menu]) > details {padding: .6rem  15rem 0  15rem}
details[open] {padding: .6rem  15rem 15rem  15rem}
details[open] summary + * {margin-top: 0}
details[open] summary {margin: 8rem 0; padding: 0}
details[open] > *:last-child {margin-bottom: 0}
mark {padding: 2rem 7rem}
.efy_sidebar summary > mark {margin-left: 10rem}

table {border-collapse: collapse; margin:  15rem 0; overflow: auto; width: fit-content; max-width: 100%}
td, th {text-align: left; padding:  8rem}
table caption {margin-bottom:  8rem}

textarea, select, input {font-size: inherit; font-family: inherit; padding:  8rem; margin-bottom:  var(--efy_gap0); box-shadow: none; box-sizing: border-box; width: 100%; -moz-appearance: none; -webkit-appearance: none; appearance: none}

select {background-image: linear-gradient(45deg, transparent 49%, var(--efy_text) 51%), linear-gradient(135deg, var(--efy_text) 51%, transparent 49%); background-position: calc(100% - 20rem), calc(100% -  15rem); background-size: 5rem 5rem, 5rem 5rem; background-repeat: no-repeat}
option:not(option:checked), optgroup {background: var(--efy_text2)}
select[multiple] {background-image: none !important}
select[multiple] option:not(option:checked), select[multiple] optgroup {background: transparent}
select[multiple] option {padding: var(--efy_padding2); margin-top: 5rem; border-radius: var(--efy_radius0)}


/*Checkbox & Radio*/ [type=checkbox], [type=radio] {width: 24rem; height: 24rem; vertical-align: bottom; margin-bottom: 0}
[type=checkbox]:checked:after {width: 24%; height: 50%; border-radius: 2rem; top: 10%; left: 30%; background: transparent; border-right: solid var(--efy_text2) 3.2rem; border-bottom: solid var(--efy_text2) 3.2rem; transform: rotate(45deg)}
[type=radio]:checked:after {width: 40%; height: 40%; top: 30%; left: 30%; background: var(--efy_text2)}


hr {border-top: var(--efy_border); margin: 15rem auto; width: 100%}

main :is(img, video) {max-width: 100%; height: auto}

figure {margin: 0; text-align: center}
figcaption {margin-bottom:  15rem}

blockquote {position: relative; padding-left: 25rem; font-weight: bold}
blockquote:before {content: ''; display: block; width: 5rem; height: calc(100% - 20rem); top: 10rem; left: 10rem; position: absolute; border-radius: var(--efy_radius)}
cite {font-style: normal; font-weight: normal}

pre {max-width: 100%; overflow: auto}

img, video, iframe {width: 100%; max-width: 100%}


/*Number Input*/ [efy_number] input::-webkit-outer-spin-button, [efy_number] input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0}
[efy_number], [efy_number] input {-moz-appearance: textfield} [efy_number] :is(button, input, select) {margin: 0!important}
[efy_number] {display: flex; gap: var(--efy_gap0); align-items: center; padding: 0; margin: var(--efy_gap0) 0}
[efy_range_text*='Max Width'] select {width: auto}

/*EFY Color Input*/ [efy_color] {display: inline}
[efy_color_preview] {-webkit-text-fill-color: var(--efy_text2)}
[efy_color]:not(:last-of-type) [efy_color_preview] {margin-right: var(--efy_gap0)}
/*[efy_color*=efy_color1] [efy_color_preview] {background: hsl(var(--efy_color1_var))!important}
[efy_color*=efy_color2] [efy_color_preview] {background: hsl(var(--efy_color2_var))!important}*/
[efy_color*=efy_color_text] [efy_color_preview] {background: var(--efy_text)!important}
[efy_color*=efy_color_text][efy_active] + br {display: none!important}
[efy_color*=efy_color_bgcol] [efy_color_preview] {background: var(--efy_bg)!important; -webkit-text-fill-color: var(--efy_text)!important}

[efy_select]#efy_colors label:before, [efy_sidebar_btn] [efy_icon=remove] {margin-right: 0}

[efy_color_picker] {background: var(--efy_bg1); border: var(--efy_border); border-radius: var(--efy_radius); padding: 15rem; margin: 10rem 0; --efy_bs: 0 0 3rem #0005, inset 0 0 0 3rem hsl(var(--efy_bg_var)), inset 0 0 6rem #0005}
[efy_color_picker] .hue {background: linear-gradient(to right, #f00 0%, #ff0 16.6%, #0f0 33.3%, #0ff 50%, #00f 66.6%, #f0f 83.3%, #f00 100%)}
[efy_color_picker] .sat {background: linear-gradient(to right, #808080, #f00)}
[efy_color_picker] .lgt {background: linear-gradient(to right, #000, #f00, #fff)}
[efy_color_picker] [type=range]::-webkit-slider-thumb {background: transparent; box-shadow: var(--efy_bs)}
[efy_color_picker] [type=range]::-moz-range-thumb {background: transparent; box-shadow: var(--efy_bs)}
[efy_color_picker] .efy_cp_switch {display: flex; gap: var(--efy_gap); margin-top: 10rem}
[efy_color_picker] .efy_cp_switch :is(input, button) {height: fit-content; margin: 0}
[efy_color_picker] .efy_cp_switch input {width: 100%}
[efy_color_picker] .copy_btn {display: flex}
[efy_color_picker] .copy_btn .efy_color_picker_copy {border-radius: var(--efy_radius) 0 0 var(--efy_radius)}
[efy_color_picker] .copy_btn .efy_color_picker_paste {border-radius: 0 var(--efy_radius) var(--efy_radius) 0}
[efy_color_picker] .copy_btn i {margin-right: 0}

#efy_colors #efy_pickers {display: flex; flex-wrap: wrap; gap: var(--efy_gap0); margin-bottom: var(--efy_gap0)}
#efy_colors #efy_pickers :is([efy_color_preview], [efy_color]), #efy_colors #efy_pickers > button {margin:0!important; border: 0; height: fit-content}
#efy_colors #efy_pickers > button, #efy_colors #efy_pickers [efy_color_preview] {width: var(--efy_ratio_width); height: var(--efy_ratio_width); display: flex; align-items: center; place-content: center}
#efy_colors #efy_pickers > button i {margin: 0; display: flex; place-content: center}
#efy_colors #efy_pickers .efy_color_add i:before {margin: -7rem 0 0 0; font-size: 14rem}
#efy_colors #efy_pickers .efy_color_remove i:before {margin: 0}


/*Color input*/ [type=color], [type=color]:focus {background: transparent; width: var(--efy_ratio_width); height: var(--efy_ratio_width); padding: 0; --efy_bs: inset 0 0 0 2rem #0003; --efy_b: 0!important}
::-webkit-color-swatch-wrapper {background: transparent; width: 100%; height: 100%; padding: 0}
::-webkit-color-swatch {border-radius: var(--efy_radius); box-shadow: var(--efy_bs); border: var(--efy_b)}
::-moz-color-swatch {border-radius: var(--efy_radius); box-shadow: var(--efy_bs); border: var(--efy_b)}


/*Range input*/
[type=range] {-webkit-appearance: none; appearance:none; width: 100%; height: 32rem; padding: 0; background: var(--efy_color_trans); background-clip: padding-box}
::-moz-range-thumb {background: var(--efy_color); background-clip: padding-box; border: 0; border-radius: var(--efy_radius); height: 32rem; width: 32rem}
::-moz-range-track {background: transparent}
::-webkit-slider-thumb {-webkit-appearance: none; width: 32rem; height: 32rem; border-radius: var(--efy_radius); background: var(--efy_color); background-clip: padding-box; border:0}
::-webkit-slider-runnable-track {background: transparent}


::-webkit-file-upload-button {background: var(--efy_color); background-clip: padding-box; color: var(--efy_text2); border:  var(--efy_border); border-radius: var(--efy_radius); padding: var(--efy_padding); font-weight: bold; cursor: pointer; font-family: var(--efy_font_family)!important}
::file-selector-button {background: var(--efy_color); background-clip: padding-box; color: var(--efy_text2); border: var(--efy_border); border-radius: var(--efy_radius); padding: var(--efy_padding); font-weight: bold; cursor: pointer; font-family: var(--efy_font_family)!important}

progress, meter {height:  15rem; border: 0; background: var(--efy_color_trans); background-clip: padding-box; border-radius: var(--efy_radius0); border: 0}
::-webkit-progress-bar, ::-webkit-meter-bar {height:  15rem; background: var(--efy_color_trans); background-clip: padding-box; border-radius: var(--efy_radius0); border: 0}
::-webkit-progress-value, ::-webkit-meter-optimum-value {background: var(--efy_color); background-clip: padding-box; border-radius: var(--efy_radius0); border: 0}
::-moz-progress-bar , ::-moz-meter-bar {height:  15rem; background: var(--efy_color); background-clip: padding-box; border-radius: var(--efy_radius0); border: 0}

/*Audio & Video*/ audio::-webkit-media-controls-enclosure {background: var(--efy_bg1); border-radius: var(--efy_radius2); border:  var(--efy_border)}
::-internal-media-controls-overflow-menu-list, ::-webkit-internal-media-controls-overflow-menu-list-item {appearance: none; -webkit-appearance: none; background: var(--efy_text2); border-radius: var(--efy_radius2)!important; border:  var(--efy_border)}

/*Details*/ details, summary {list-style: none; position: relative} summary::-webkit-details-marker {display: none}
details:not([efy_help]) summary:before {position: absolute; right: 8rem; transition: transform calc(var(--efy_anim_status) * var(--efy_anim_speed) * .1s) ease}
details details {margin-top: var(--efy_gap)} details details:not([efy_help]) > summary:before {right: -6rem}
details[open]:not([efy_help]) > summary:before {transform: rotate(90deg); right: -2rem}

/*Help Box*/ [efy_help] {background: transparent; border: 0; padding: 0!important; margin: 0}
[efy_help][open] {padding: 0 0 10rem 0!important}
[efy_help] summary {pointer-events: none; margin-bottom: 0; padding: 0}
[efy_help] summary:after {margin-left:  8rem; opacity: .5; pointer-events: all}

/*Select Menu*/ [efy_select] label:not([efy_upload]):before {width:  16rem; height:  16rem; margin-right:  8rem; margin-top: -.2rem; position: relative; border-radius: calc(var(--efy_radius) / 1.5); border: 2.5rem solid transparent; background: var(--efy_color) border-box; -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); -webkit-mask-composite: source-out; mask-composite: exclude}

[efy_select] [type=radio]:checked + label:after {background: var(--efy_text2); width: 9.6rem; height: 9.6rem; top: 8rem; left: 5.6rem; margin: var(--efy_padding); border-radius: calc(var(--efy_radius) / 3)}
[efy_select] [type=checkbox]:checked + label:after {top: 13.2rem; left: 18.6rem; width: 4.8rem; height: 9.6rem; border-radius: 2rem; border-right: solid var(--efy_text2) 3.3rem; border-bottom: solid var(--efy_text2) 3.3rem; transform: rotate(45deg)}
[efy_select] input:checked + label:before {border-color: var(--efy_text2); background: transparent}
[efy_select] :is([type=checkbox], [type=radio], label [type=color]) {opacity:0}
[efy_select] :is(p, label, button), [efy_tabs] [efy_tab], .efy_about a, [type=file] {margin: calc(var(--efy_gap0) / 2) var(--efy_gap0) calc(var(--efy_gap0) / 2) 0}

/*Padding-Right for Expanding Boxes*/ select:not([multiple]) {padding-right: 32rem} summary, details[open] summary {padding-right: 20rem}

/*Card*/ [efy_card] {background: var(--efy_bg1); border-radius: var(--efy_radius); border: var(--efy_border); padding: 15rem; width: 100%}
[efy_card*=grid] {display: grid; gap: 5rem; align-content: baseline}

/*Upload Input*/ [efy_upload] {position: relative; width: fit-content; font-weight: bold}
[efy_upload] > input {position: absolute; inset: 0; margin: 0; padding: 0; border: 0; opacity: 0}
[efy_upload*=small] {width: var(--efy_ratio_width); height: var(--efy_ratio_width)}
[efy_upload*=small] i {margin-right: 0; margin-top: -1rem; position: absolute}
[efy_upload*=small] input::file-selector-button {width: var(--efy_ratio_width)!important; height: var(--efy_ratio_width)!important}

.efy_backup_div :is(button, [role=button]) {margin: 0}
.efy_backup_div {margin-top: var(--efy_gap0)}
.efy_backup_div:not(:last-of-type) {margin-bottom: var(--efy_gap0)}

.efy_about_div mark {display: block; width: fit-content; margin-bottom: 10rem; padding: 0 10rem}
[efy_range_text] mark {margin: 0 0 0 6rem}
[efy_range_text] input {margin: 6rem 0 0 0}

/*Sidebar*/ .efy_sidebar{background: var(--efy_bg); padding:  var(--efy_gap) calc(var(--efy_gap) - 2rem) var(--efy_gap) var(--efy_gap); width: 100vw; max-width: 450rem; height: 100vh; z-index: 9999; position: fixed; right: -450rem; top: 0; border-radius: var(--efy_radius2) 0 0 var(--efy_radius2); transition-property: left, right; transition-duration: calc(var(--efy_anim_status) * var(--efy_anim_speed) * .3s); overflow-y: auto}
[efy_sidebar*=on] .efy_sidebar {box-shadow: 0 0 30rem #0005}

.efy_sidebar summary {display: flex; align-items: center}
.efy_sidebar summary > mark {padding: 5px 7rem; line-height: 1} .efy_sidebar summary > p {margin: 0}
.efy_sidebar summary [efy_icon=arrow_down]:before {margin: -11rem 0 0 -15rem}

[efy_sidebar*=on] body {width: calc(100vw - 450rem); margin-right: 450rem; margin-left: 0; --efy_body_width: 100%}
[efy_sidebar*=on]:not([efy_sidebar*=left]) body::-webkit-scrollbar {width: 0}
[efy_sidebar*=on] .efy_sidebar {right: 0}
[efy_sidebar*=left] .efy_sidebar {right: unset; left: -450rem; border-radius: 0 var(--efy_radius2) var(--efy_radius2) 0}
[efy_sidebar*=on_left] body {margin-left: 450rem; margin-right: 0}
[efy_sidebar*=on_left] .efy_sidebar {left: 0}

[efy_sidebar_btn*=close] {margin: 0 0 15rem 0; height: fit-content}
[efy_sidebar_btn*=absolute] {z-index: 9999; font-size: 20rem; padding: 4rem 10rem; position: fixed; text-align: center; top:  15rem; right:  15rem}


.trans_window_div {width: fit-content; display: inline-flex; flex-wrap: wrap; gap: var(--efy_gap0); margin-top: calc(var(--efy_gap0) / 2)}
.trans_window_div label {margin: 0}

.efy_flex {display: flex; gap: var(--efy_gap); flex-wrap: wrap}

[efy_about], .efy_sidebar [efy_card] {margin-bottom: var(--efy_gap)}
.efy_about {padding: 0 10rem}
[efy_about] {display: flex; gap: var(--efy_gap); flex-wrap: wrap; justify-content: space-between; align-items: center}
[efy_about] button {margin: 0; display: flex; align-items: center; gap: 8rem}
[efy_about] button:not([efy_sidebar_btn*=close]) {background: var(--efy_bg1)}
[efy_about] button:not([efy_sidebar_btn*=close]) i {-webkit-text-fill-color: var(--efy_text)}
[efy_logo] p {font-size: 24rem; padding-top: 2.5rem; display: inline-block; -webkit-text-fill-color: var(--efy_text)}
[efy_logo] i {font-size: 16rem; margin: 0 -2rem 0 0; display: inline-block}

/*Button Align*/ #efy_btn_align div {display: grid; gap: var(--efy_gap); grid-template-columns: 1fr 1fr 1fr; width: fit-content; margin-bottom: var(--efy_gap)}
#efy_btn_align div input {display: block; position: relative; opacity: 1; margin: 0} #efy_btn_align #middle_middle {opacity: 0!important; pointer-events: none}

[efy_btn_align*=left] {left: 15rem; right: unset}
[efy_btn_align*=right] {right: 15rem; left:unset}
[efy_btn_align*=top] {top: 15rem; bottom: unset}
[efy_btn_align*=bottom] {bottom: 15rem; top: unset}
[efy_btn_align*=_middle] {top: 50vh}
[efy_btn_align*=middle_] {left: calc(50vw - 20rem); right: unset}

/*Temporary*/

#efy_trans_images {display: none}
[efy_mode*=trans] #efy_trans_images {display: block}
.efy_img_previews {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: var(--efy_gap); padding:  var(--efy_gap0) 0 0 0}
.efy_img_previews [efy_bg_nr] {margin: 0; border: 0; aspect-ratio: 1; cursor: pointer; position: relative; box-shadow: inset 0 0 20rem #0003, 0 0 20rem #0003; background-size: cover!important; background-repeat: no-repeat!important; background-position: center!important; border-radius: var(--efy_radius)}
.efy_img_previews [efy_bg_nr]:is([efy_active], :focus) {box-shadow: inset 0 0 0 3rem var(--efy_text); z-index: 2}

.efy_quick_shortcuts [efy_search_input] {margin-bottom: var(--efy_gap)}


/*Tabs*/ [efy_tabs] [efy_tab][efy_active] {-webkit-text-fill-color: var(--efy_text2)}
[efy_tabs] [efy_tab]:last-of-type {margin-right: 0; margin-bottom: var(--efy_gap0)}
[efy_tabs] [efy_content] {opacity: 0; position: absolute; pointer-events: none; transform: scale(.3); padding:  15rem; border-radius: var(--efy_radius); background: var(--efy_bg1)}
[efy_tabs] [efy_content][efy_active] {opacity: 1; position: relative; pointer-events: all; transform: scale(1)}
[efy_tabs] [efy_content]:not([efy_active]) * {position: absolute; pointer-events: none; opacity: 0; display: none}

[efy_tabs] [efy_content][efy_active], [efy_card], [efy_search_input] {transition: calc(var(--efy_anim_status) * var(--efy_anim_speed) * .1s) linear}

/*Timer*/ [efy_timer], [efy_clock] {padding: 0 10rem; display: inline-flex; gap: var(--efy_gap0); flex-wrap: wrap; align-items: center}
[efy_timer] [efy_text], [efy_clock] {font-size: 36rem; font-weight: bold}
[efy_start], [efy_reset]{padding: 8rem 10rem!important}
:is([efy_start], [efy_reset]):before {margin-right:0!important}
.efy_quick_shortcuts [efy_clock] {margin: 0 var(--efy_gap0) 12rem 0}

/*Alert*/ [efy_alerts] {display: grid; gap: var(--efy_gap0); position: fixed; z-index: 99; width: calc(100% - 64rem); max-width: 400rem; margin: var(--efy_gap) 0 0 var(--efy_gap)}
[efy_alert] {display: grid; grid-template-columns: 1fr auto; gap: var(--efy_gap); padding: 10rem; box-shadow: 0 0 20px var(--efy_text_trans); background: var(--efy_text2);}
[efy_btn_square] {display: flex; align-items: center; padding: 10rem; height: fit-content; aspect-ratio: 1; margin: 0}
[efy_btn_square] [efy_icon] {margin:0}
.efy_quick_notify_content {display: grid; gap: var(--efy_gap); grid-template-columns: 1fr}
.efy_quick_notify_content [efy_alert] {background: var(--efy_bg1); box-shadow: none; border-radius: var(--efy_radius)}

/*Quick Shortcuts*/  .efy_square_btn {display: inline-flex; gap: 12rem; margin: 0; padding: 10rem} .efy_square_btn i {margin:0}
.efy_quick_shortcuts .efy_quick_back i{transform: rotate(180deg)}
.efy_quick_shortcuts {gap: var(--efy_gap)}
.efy_quick_buttons, .efy_about_div .efy_flex {gap: var(--efy_gap0)}
.efy_quick_buttons button {margin: 0 0 var(--efy_gap0) 0}
.efy_about_div .efy_flex {margin: var(--efy_gap0) 0 0 0}
 .efy_about_div .efy_flex a {margin: 0}
 .efy_sidebar [efy_search_input] {margin: 0 0 var(--efy_gap) 0}

 /*Custom Sidebar Menu*/
#custom_sidebar_menu, #demo_sidebar_settings > div {display: flex; flex-wrap: wrap; gap: var(--efy_gap); margin-bottom: var(--efy_gap)}
#custom_sidebar_menu a, #demo_sidebar_settings > div a {background: var(--efy_bg1); padding: var(--efy_padding); border-radius: var(--efy_radius); border: var(--efy_border); -webkit-text-fill-color: var(--efy_text)}

/*Translations*/ .efy_lang_text, .efy_range_text_p {display: inline; margin: 0!important; pointer-events: none!important; -webkit-text-fill-color: inherit; color: inherit}

/*Code*/ [efy_code] {position: relative; padding-top: calc(50rem + var(--efy_gap0))} [efy_code]:fullscreen {border-radius: 0; border: none; background: var(--efy_bg)!important}

.efy_code_trans_on  [efy_code]:fullscreen {background: transparent!important; backdrop-filter: blur(50rem)}
 [efy_code] .efy_code_trans {display: none} [efy_code]:fullscreen .efy_code_trans {display: unset}

[efy_code] .efy_bar {position: absolute; top: 0; left: 0; width: 100%; padding: var(--efy_gap0); display: flex; gap: var(--efy_gap); justify-content: space-between; border-bottom: var(--efy_border)}
[efy_code] .efy_bar div {display: flex; gap: var(--efy_gap0)}
[efy_code] .efy_bar button {margin: 0; padding: var(--efy_padding2); border-radius: var(--efy_radius0)}
[efy_code] .efy_bar mark {padding: 0 8rem}

:not(:root):fullscreen::backdrop {display: none!important}

.efy_max_width_div {display: flex; gap: var(--efy_gap0); justify-content: space-between; margin-top: 10rem}
.efy_max_width_div * {margin: 0}
.efy_max_width_div [efy_number] {width: 100%}

/*EFY Icons*/ @font-face {font-family: 'efy_icons'; src: url('efy_icons.woff2') format('truetype'); font-weight: normal; font-style: normal; font-display: block} i, :is([efy_start], [efy_reset], [efy_sidebar_btn], details > summary):before, [efy_help] summary:after {font-family: 'efy_icons' !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; vertical-align: middle; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale} i {margin-right: 8rem}

[efy_icon=accessibility]:before {content: "\e910"}
[efy_icon=arrow]:before {content: "\e900"}
[efy_icon=arrow_down]:before {content: "\e900"; position:absolute; margin: 1rem 0 0 -15rem; transform: rotate(180deg)} [efy_icon=arrow_down] {margin-left: 15rem}
[efy_icon=audio]:before {content: "\e905"}
[efy_icon=check]:before {content: "\e914"}
[efy_icon=chevron]:before, details:not([efy_help]) > summary:before {content: "\e907"}
[efy_icon=copy]:before {content: "\e919"}
[efy_icon=dots]:before {content: "\e902"}
[efy_icon=edit]:before {content: "\e91b"}
[efy_icon=fullscreen]:before, [efy_icon=move]:before {content: "\e90c"}
[efy_icon=globe]:before {content: "\e90f"}
[efy_icon=group]:before {content: "\e90e"}
[efy_icon=heart]:before {content: "\e915"}
[efy_icon=help]:before, [efy_help] summary:after {content: "\e901"}
[efy_icon=key]:before {content: "\e918"}
:is([efy_icon=menu], [efy_sidebar_btn=absolute]):before {content: "\e906"}
[efy_icon=menu2]:before {content: "\e903"}

[efy_icon=move]:before {display: inline-block; transform: rotate(45deg)}

[efy_icon=notify]:before {content: "\e917"}
[efy_icon=notify_active]:before {content: "\e916"}
[efy_icon=paste]:before {content: "\e91a"}
[efy_icon=pause]:before, [efy_timer] [efy_start][efy_active]:before {content: "\e90b"}
[efy_icon=play]:before, [efy_timer] [efy_start]:before {content: "\e90a"}
[efy_icon=plus]:before {content: "\e909"; position:absolute; font-size: 11rem; margin: 4rem 0 0 -13rem; transform: rotate(45deg)} [efy_icon=plus] {margin-left: 13rem}
:is([efy_icon=reload], [efy_reset]):before {content: "\e90d"}
[efy_icon=remove]:before {content: "\e909"}
[efy_icon=star]:before {content: "\e904"}
[efy_icon=search]:before {content: "\e908"}
[efy_icon=user]:before {content: "\e913"}
[efy_icon=zoom_in]:before {content: "\e912"}
[efy_icon=zoom_out]:before {content: "\e911"}