.efy_bg_light {
  width: 100%; height: 100%;
  position: absolute; inset: 0;
  mix-blend-mode: overlay; pointer-events: none;
}

/* Digital Focus Effect
&:not([open]) {opacity: 0.5; filter: blur(1px)}
&:hover {opacity: 1!important; filter: none!important}
*/