#efy_language [efy_select] {
    display: flex; flex-wrap: wrap; gap: var(---gap-xx);
    > p {margin: 0 0 5rem 0}
    .flag {
        background: var(---accent-text); -webkit-text-fill-color: var(---text); line-height: 1;
        padding: var(---padding-x); border-radius: var(---radius-xx);
        width: 4ch; text-align: center;
    }
    label {
        margin: 0 0 0 calc(-1 * var(---gap-xx)); width: calc(100% + var(---gap-x)); padding: var(---padding-x);
        border-radius: var(---radius-x); gap: 8rem; place-content: start;
        p {margin: 0}
    }
    input:not(:checked, :focus) + label:not(:hover) {
        background: transparent; border-color: transparent; -webkit-text-fill-color: var(---text);
        .flag {background: var(---text); -webkit-text-fill-color: var(---bg)}
    }
}

[efy_color_accent_text_x] #efy_language [efy_select] {
    .flag {background: var(---accent-text); -webkit-text-fill-color: var(---accent-text-x)}
    input:not(:checked, :focus) + label:hover .flag {background: var(---accent-text-x)!important; -webkit-text-fill-color: var(---accent-text)}
}