particle {
    background: var(---color); border-radius: var(---radius-x);
    position: fixed; inset: 0; z-index: 99999999;
    pointer-events: none; opacity: 0;
    &.input {background: var(---text)}
}