[efy_lang]{
--text:Texte;
--theme:Design;
--click_tap:Click & Tap;
--version:Version;
--visual_filters:Visuelle Filter;
--backup:Sicherung;
--efy_language:EFY Sprache;
--accessibility:Barrierefreiheit;
--audio_effects:Akustische Effekte;
--nature_effects:Nature Effects;
--3d_layers:3D Layer;
--back:Zurück;
--front:Vorn;
--default:Voreinstellung;
--light:Hell;
--sepia:Sepia;
--dark:Dunkel;
--nord:Nord;
--black:Schwarz;
--color:Farbcode;
--background:Hintergrund;
--reset:Zurücksetzen;
--radius:Radius;
--angle:Winkel;
--gap:Lücke;
--beta:Beta;
--alpha:Alpha;
--content:Inhalt;
--trans_elements:Trans Elements;
--brightness:Helligkeit;
--blur:Unschärfe:;
--saturation:Sättigung;
--contrast:Kontrast;
--hue:Farbton;
--invert:Invertieren;
--mode:Modus;
--colors:Farben;
--images:Bild;
--size:Größe:;
--menu:Menü;
--max_width:Maximalbreite;
--transparency:Transparent;
--efy_settings:EFY Einstellungen;
--efy_images:EFY Bilder;
--save:Speichern;
--button_position:Button Position;
--floating_button:Floating Button;
--outline:Outline;
--focus_outline:Focus Outline;
--animations:Animationen;
--active:Aktiv;
--speed:Tempo;
--text_size:Schriftgröße;
--zoom:Zoom;
--text_spacing:Text Spacing;
--cursor:Cursor;
--custom:Individuell;
--hide_touchscreen:Hide (Touchscreen);
--learn_more:Erfahre mehr;
--matrix:Matrix Chat;
--github:Github;
--left:Links;
--right:Rechts;
--custom_colors:Benutzerdefinierte Farben;
--virtual_keyboard:Virtuelle Tastatur;
--mouse_hover:Mouse Hover;
--efy_volume:EFY Volume;
--page_volume:Page Volume;
--audio:Audio;
--visual:Visuell;
--snow:Schnee;
--rain:Regen;
--leaves:Verlassen;
--flowers:Blumen;
--bubbles:Bubbles;
--forest:Wald;
--waves:Wellen;
--underwater:Unter Wasser;
--people:Leute;
--fireworks:Feuerwerk;
--dreamy:Dreamy;
--add_file:Füge Datei hinzu;
--no_notifications:Bis jetzt keine Benachrichtigungen ...;
--sidebar_search_placeholder:Search through menu;
--sidebar_about_text:This page uses EFY, a customisable, convergent, transparent, modular, futuristic css / js framework that can be added to your own web / local apps & websites;
--sidebar_transparency_help:Falls ihr Betriebssystem oder Fenstermanager Transparenz unterstützt, wird der Hintergrund durchsichtig werden. Ansonsten fügen sie ihr eigenes Bild ein und aktivieren sie es.;
--sidebar_images_warning:Warnung. größer = langsamer;
--sidebar_images_warning_help:Keep them bellow 1MB per image, unless your device has a powerful CPU / GPU. You can also convert png, jpg etc to webp to reduce the size;
--sidebar_cursor_text:WARNING. Only hide it on touchscreen devices;
--sidebar_audio_text:You might have to click / tap on the ssl / lock icon on your browser & allow sounds, to hear them automatically;
--custom_colors_help:These colors override the default ones;
--sidebar_outline_text:Safari & Webkit do not support custom outline radius yet, so it is not up to efy, but the outline itself works & the radius as well on other browsers.;
--offline_notify:Sie sind OFFLINE;
--offline_notify_text:Bitte überprüfen Sie ihre Internetverbindung!;
--online_notify:Sie sind wieder ONLINE;
--online_notify_text:Laden sie die Seite neu, falls nötig;
--localstorage_off:Your browser blocks LocalStorage;
--localstorage_off_text:You cannot save your preferences and some features will not work until you turn it on. No worries, your efy data stays in this local device only.;
--website:Website;
--translations:Übersetzungen;
--donate:Donate;
--unfinished:Nicht fertig;
--up:Up;
--down:Down;
--remove:Remove;
--close:Close;
--open:Open;
--search:Search;
--soon:Soon;
--start:Start;
--stop:Stop;
--pause:Pause;
--notifications:Notificări;
--join_future:Join the future of design;
--columns:Columns;
--border:Border;
--window:Window;
--coming_soon:Coming soon...;
}