[efy_lang]{
--version:Versi;
--theme:Tema;
--visual_filters:Saringan Visual;
--backup:Cadangkan;
--efy_language:Bahasa EFY;
--accessibility:Aksesbilitas;
--audio_effects:Efek Audio;
--nature_effects:Efek Alam;
--3d_layers:Lapisan 3D;
--back:Belakang;
--front:Depan;
--default:Bawaan;
--light:Terang;
--sepia:Sepia;
--dark:Gelap;
--nord:Nord;
--black:Hitam;
--color:Warna;
--text:Teks;
--background:Latar Belakang;
--reset:Atur Ulang;
--radius:Radius;
--angle:Sudut;
--gap:Celah;
--beta:Beta;
--alpha:Alfa;
--content:Konten;
--brightness:Kecerahan;
--blur:Buram;
--saturation:Saturasi;
--contrast:Kontras;
--hue:Rona;
--invert:Balikkan;
--mode:Mode;
--colors:Warna;
--images:Gambar;
--size:Ukuran;
--menu:Menu;
--max_width:Lebar Maks;
--transparency:Transparansi;
--efy_settings:Pengaturan EFY;
--efy_images:Gambar EFY;
--save:Simpan;
--button_position:Posisi Tombol;
--floating_button:Tombol Mengambang;
--outline:Garis Luar;
--focus_outline:Garis Luar Fokus;
--animations:Animasi;
--active:Aktif;
--speed:Kecepatan;
--text_size:Ukuran Teks;
--zoom:Perbesar;
--text_spacing:Spasi Teks;
--cursor:Kursor;
--custom:Kustom;
--hide_touchscreen:Sembunyikan (Layar Sentuh);
--learn_more:Pelajari lebih lanjut;
--left:Kiri;
--right:Kanan;
--custom_colors:Warna Kustom;
--virtual_keyboard:Papan Ketik Virtual;
--click_tap:Klik & Ketuk;
--mouse_hover:Hamparan Tetikus;
--efy_volume:Volume EFY;
--page_volume:Volume Laman;
--audio:Audio;
--visual:Visual;
--snow:Salju;
--rain:Hujan;
--leaves:Dedaunan;
--flowers:Bunga;
--bubbles:Gelembung;
--forest:Hutan;
--waves:Ombak;
--underwater:Bawah Air;
--people:Orang;
--fireworks:Kembang Api;
--dreamy:Bermimpi;
--add_file:Tambahkan Berkas;
--no_notifications:Belum ada notifikasi...;
--sidebar_search_placeholder:Cari melalui menu;
--sidebar_transparency_help:Jika sistem operasi atau pengelola jendela Anda mendukung transparansi, latar belakang menjadi transparan. Jika tidak, impor gambar Anda sendiri dan nyalakan ini saja;
--sidebar_images_warning:Peringatan. Leih besar = lebih lambat;
--sidebar_images_warning_help:Gambar seharusnya di bawah 1 MB, kecuali jika perangkat Anda memiliki CPU/GPU yang bertenaga. Anda juga dapat mengubah PNG, JPG, dll. ke WebP untuk mengurangi ukurannya;
--sidebar_cursor_text:PERINGATAN. Hanya sembunyikan di perangkat layar sentuh;
--sidebar_audio_text:Anda mungkin harus mengeklik/mengetuk ikon SSL/gembok di peramban Anda & perbolehkan suara untuk mendengarnya secara otomatis;
--custom_colors_help:Warna ini menimpa warna bawaan;
--sidebar_outline_text:Safari & WebKit belum mendukung radius garis luar kustom, jadi ini bukan terserah EFY, tetapi garis luarnya bekerja & dan radiusnya, beserta di peramban lain.;
--offline_notify:Anda sedang luring;
--offline_notify_text:Mungkin periksa koneksi internet Anda;
--online_notify:Anda kembali daring;
--online_notify_text:Muat ulang laman jika dibutuhkan;
--localstorage_off:Peramban Anda memblokir LocalStorage;
--localstorage_off_text:Anda tidak dapat menyimpan preferensi Anda dan beberapa fitur tidak akan bekerja sampai Anda menyalakannya. Jangan khawatir, data EFY Anda tetap di perangkat lokal ini saja.;
--website:Situs Web;
--translations:Terjemahan;
--donate:Donasi;
--lang_info:If your language misses words, you will see the English version. Translate it here: ;
--up:Atas;
--down:Bawah;
--remove:Hapus;
--close:Tutup;
--open:Buka;
--search:Cari;
--soon:Segera Datang;
--start:Mulai;
--stop:Hentikan;
--pause:Jeda;
--notifications:Notifikasi;
--columns:Kolom;
--border:Batasan;
--window:Window;
--coming_soon:Coming soon...;
--shadows:Shadows;
--inset:Inset;
--x:X;
--y:Y;
--spread:Spread;
--button:Button;
--front:Front;
--trans:Trans;
--yes:Yes;
--no:No;
--confirm:Confirm Changes;
--custom:Custom;
--saved_themes:Saved Themes;
--efy_database:EFY Database;
--hide:Hide;
--height:Height;
--stable:Stable;
--copy:Copy;
--paste:Paste;
--type:Type;
--solid:Solid;
--system:System;
--modules:Modules;
--join_future:Design by YOU;
--quick:Quick;
--filters:Filters;
--languages:Languages;
--gamepads:Gamepads;
--click_effects:Click Effects;
--modify:Modify;
--translate:Translate;
--on:On;
--off:Off;
--auto:Auto;
--svg_filters:SVG Filters;
--quick_info:Useful top sidebar shortcuts;
--filters_info:Visual effects;
--svg_filters_info:Extra effects. Chromium browsers only;
--languages_info:Menu + App Translations;
--gamepads_info:Control EFY with your gamepads;
--backup_info:Save & restore data;
--accessibility_info:Animations, sizes, shortcuts & more;
--audio_info:Sound effects, volume control;
--virtual_keyboard_info:For touchscreen or mouse;
--click_effects_info:Visual feedback on selected elements;
--sidebar_about_text:User customizable CSS & JS framework. Private & modular apps;
--card:Card;
--files:Files;
--customize:Customize;
--corner_shape:Corner Shape;
--corner_shape_info:Experiment. Chromium browsers only;
--lights:Lights;
--lights_info:Experiment;
}