[efy_lang]{
--version:Wersja;
--theme:Motyw;
--left:W lewo;
--right:W prawo;
--up:W górę;
--down:W dół;
--custom_colors:Custom Colors;
--virtual_keyboard:Klawiatura wirtualna;
--click_tap:Click & Tap;
--mouse_hover:Mouse Hover;
--efy_volume:Głośność EFY;
--page_volume:Głośność strony;
--audio:Audio;
--visual:Visual;
--snow:Śnieg;
--rain:Deszcz;
--leaves:Leaves;
--flowers:Kwiaty;
--bubbles:Bąble;
--forest:Las;
--waves:Fale;
--underwater:Pod wodą;
--people:Ludzie;
--fireworks:Fajerwerki;
--dreamy:Senny;
--add_file:Dodaj plik;
--remove:Usuń;
--close:Zamknij;
--open:Otwórz;
--search:Wyszukaj;
--soon:Wkrótce;
--start:Rozpocznij;
--stop:Zatrzymaj;
--pause:Zatrzymaj;
--notifications:Powiadomienia;
--github:GitHub;
--no_notifications:Brak powiadomień...;
--visual_filters:Efekty wizualne;
--backup:Kopia zapasowa;
--efy_language:Język EFY;
--accessibility:Dostępność;
--audio_effects:Efekty dźwiękowe;
--nature_effects:Dźwięki natury;
--3d_layers:Warstwy 3D;
--back:Wstecz;
--front:Przód;
--default:Domyślne;
--light:Jasny;
--sepia:Sepia;
--dark:Ciemny;
--nord:Nord;
--black:Czarny;
--color:Kolor;
--text:Tekst;
--background:Tło;
--reset:Uruchom ponownie;
--radius:Promień;
--angle:Kąt;
--gap:Luka;
--beta:Beta;
--alpha:Alfa;
--content:Zawartość;
--trans_elements:Trans Elements;
--brightness:Jasność;
--blur:Rozmycie;
--saturation:Saturacja;
--contrast:Kontrast;
--hue:Hue;
--invert:Invert;
--mode:Tryb;
--colors:Kolory;
--images:Obrazy;
--size:Rozmiar;
--menu:Menu;
--max_width:Maksymalna szerokość;
--transparency:Przezroczystość;
--efy_settings:Ustawienia EFY;
--efy_images:Obrazy EFY;
--save:Zapisz;
--button_position:Pozycja przycisku;
--floating_button:Floating Button;
--outline:Outline;
--focus_outline:Focus Outline;
--animations:Animacje;
--active:Aktywne;
--speed:Prędkość;
--text_size:Rozmiar tekstu;
--zoom:Powiększenie;
--text_spacing:Odstępny między literami;
--cursor:Kursor;
--custom:Niestandardowe;
--hide_touchscreen:Ukryj (ekran dotykowy);
--learn_more:Dowiedz się więcej;
--website:Strona internetowa;
--matrix:Czat Matrix;
--translations:Tłumaczenia;
--donate:Wspomóż;
--unfinished:Nieskończone;
--sidebar_search_placeholder:Wyszukaj przez menu;
--sidebar_about_text:Customizable, convergent, transparent, modular, futuristic css / js framework that can be added to your own html, web, local apps & websites;
--join_future:Dołącz do przyszłości projektowania;
--sidebar_transparency_help:If your operating system or window manager supports transparency, the background becomes transparent. Otherwise just import your own images and turn this on;
--sidebar_images_warning:Uwaga. Większe = Wolniejsze;
--sidebar_images_warning_help:Utrzymuj je poniżej 1 MB na obraz, chyba, że twoje urządzenia ma wydajny procesor / kartę graficzną. Możesz także przekonwertować png, jpg itd do formatu webp, any zmniejszyć rozmiar;
--sidebar_cursor_text:UWAGA. Ukrywaj tylko na urządzeniach z ekranem dotykowym;
--sidebar_audio_text:You might have to click / tap on the ssl / lock icon on your browser & allow sounds, to hear them automatically;
--custom_colors_help:Te kolory są nadpisują domyślne kolory;
--sidebar_outline_text:Safari & Webkit do not support custom outline radius yet, so it is not up to efy, but the outline itself works & the radius as well on other browsers.;
--offline_notify:Jesteś OFFLINE;
--offline_notify_text:Sprawdź swoje połączenie z internetem;
--online_notify:Jesteś znowu ONLINE;
--online_notify_text:Przeładuj stronę jeśli to konieczne;
--localstorage_off:Twoja przeglądarka blokuje Lokalny Magazyn;
--localstorage_off_text:You cannot save your preferences and some features will not work until you turn it on. No worries, your efy data stays in this local device only.;
--columns:Kolumny;
--border:Obramowanie;
--window:Window;
--coming_soon:Coming soon...;
}