[efy_lang]{
--reset:Сброс;
--radius:Радиус;
--angle:Угол;
--gap:Расстояние;
--beta:Бета;
--alpha:Альфа;
--content:Содержимое;
--version:Версия;
--theme:Тема;
--efy_volume:Громкость EFY;
--visual_filters:Фильтры;
--backup:Резервное копирование;
--efy_language:Язык EFY;
--accessibility:Специальные возможности;
--audio_effects:Аудиоэффекты;
--nature_effects:Эффекты природы;
--3d_layers:3D-слои;
--back:На фоне;
--front:Поверх;
--default:По умолчанию;
--light:Светлая;
--sepia:Сепия;
--dark:Тёмная;
--nord:Северная;
--black:Чёрная;
--color:Цвет;
--text:Текст;
--background:Фон;
--trans_elements:Прозрачные элементы;
--brightness:Яркость;
--blur:Размытие;
--saturation:Насыщенность;
--contrast:Контраст;
--hue:Оттенок;
--invert:Инверсия;
--mode:Режим;
--colors:Цвета;
--images:Картинки;
--size:Размер;
--menu:Меню;
--max_width:Макс. ширина;
--transparency:Прозрачность;
--efy_settings:Настройки;
--efy_images:Картинки;
--save:Сохранить;
--button_position:Положение кнопки;
--floating_button:Плавающая кнопка;
--outline:Контур;
--focus_outline:Обводить элементы в фокусе;
--animations:Анимации;
--active:Включить;
--speed:Скорость;
--text_size:Размер текста;
--zoom:Увеличение;
--text_spacing:Текстовый интервал;
--cursor:Курсор;
--custom:Пользовательский;
--hide_touchscreen:Скрыть (для сенсорных экранов);
--learn_more:Узнать больше;
--matrix:Чат в Matrix;
--github:Github;
--left:Слева;
--right:Справа;
--custom_colors:Свои цвета;
--virtual_keyboard:Виртуальная клавиатура;
--click_tap:При клике;
--mouse_hover:При наведении мыши;
--page_volume:Громкость веб-страницы;
--audio:Звуковые;
--visual:Визуальный;
--snow:Снег;
--rain:Дождь;
--leaves:Листья;
--flowers:Цветы;
--bubbles:Пузыри;
--forest:Лес;
--waves:Волны;
--underwater:Под водой;
--people:Люди;
--fireworks:Фейерверки;
--dreamy:Мечтательность;
--add_file:Добавить файл;
--no_notifications:Нет уведомлений...;
--sidebar_search_placeholder:Поиск по меню;
--sidebar_about_text:Кастомизируемый, конвергентный, прозрачный, модульный, футуристический CSS/JS фреймворк, который Вы можете добавить в свои веб-приложения и сайты;
--sidebar_transparency_help:Если Ваша операционная система или оконный менеджер поддерживает прозрачность, фон страницы станет прозрачным. В противном случае, импортируйте свои картинки, которые будут заменять фон, и включите эту опцию;
--sidebar_images_warning:Внимание: больше размер = медленнее;
--sidebar_images_warning_help:Придерживайтесь ограничения размера картинки в 1 МБ, если на Вашем устройстве недостаточно мощный CPU/GPU. Можете также сконвертировать картинку в формат WEBP для уменьшения объёма;
--sidebar_cursor_text:Внимание: скрывайте курсор только на устройствах с сенсорным экраном;
--sidebar_audio_text:Возможно, Вам потребуется нажать на иконку замка в адресной строке браузера и разрешить автоматическое воспроизведение аудио;
--custom_colors_help:Указанные цвета перезаписывают стандартные;
--sidebar_outline_text:Safari и браузеры на движке Webkit пока не поддерживают пользовательский радиус контура, и EFY не может на это повлиять, но сама обводка работает, как и радиус в других браузерах.;
--offline_notify:Вне сети;
--offline_notify_text:Проверьте подключение к сети;
--online_notify:Подключение восстановлено;
--online_notify_text:Перезагрузите страницу, если потребуется;
--localstorage_off:Браузер блокирует LocalStorage;
--localstorage_off_text:Вы не можете сохранять настройки, а также некоторые функции не будут работать, пока Вы не включите их. Не беспокойтесь, все данные EFY сохраняются локально, только на этом устройстве.;
--website:Веб-сайт;
--translations:Перевести;
--donate:Поддержать;
--unfinished:Незавершённые;
--up:Вверх;
--down:Вниз;
--remove:Удалить;
--close:Закрыть;
--open:Открыть;
--search:Поиск;
--soon:Скоро;
--start:Запуск;
--stop:Остановка;
--pause:Пауза;
--notifications:Уведомления;
--join_future:Присоединяйтесь к будущему дизайна;
--columns:Columns;
--border:Border;
--window:Window;
--coming_soon:Coming soon...;
}
